html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 1rem;
    font-family: 'Arial', ;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Arial';
  }
  
  main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }